{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'school/css/contacts.css' %}">
    <title>Доп. Информация</title>
</head>
<body>
    <nav class="headear-container">
        <ul>
            <li><img src="{% static 'school/images/Logo.svg' %}" alt=""></li>
            <li><a class="t1 nav-text" href="{% url 'home' %}"><h1 class="nav_text">Главная</h1></li></a>
            <li><a class="t2 nav-text" href="#"><h1 class="nav_text">Новости</h1></li></a>
            <li><a class="t3 nav-text" href="{% url 'contacts' %}"><h1 class="nav_text">Контакты</h1></li></a>
            <li><a class="t4 nav-text" href="{% url 'sign-in' %}"><h1 class="nav_text">Вход</h1></li></a>
        </ul>
    </nav>
    <div class="school_contacts_container">
        <h1 class="school_contacts_1">
            Директор МБОУ "Лицей №5 г. Ельца"Журавская Нина Михайловна 8(47467) 2-40-51
        </h1>
        <h1 class="school_contacts_2">
            Адрес:399774, г. Елец,ул. Спутников, д.9..
        </h1>
        <h1 class="school_contacts_3">
            Заместитель директора 8(47467) 2-46-35
        </h1>
    </div>
    <div class="school_schedule_container">
        <ul class="school_schedule_list">
            <li class="global_sclt">Общее образование:</li>
            <li class="school_schedule_list_text">1-4 классы – пятидневная рабочая неделя</li>
            <li class="school_schedule_list_text">5-6 классы – пятидневная рабочая неделя</li>
            <li class="school_schedule_list_text">7-11 классы – пятидневная рабочая неделя</li>
            <li class="global_sclt">Начало занятий в 1 смене – 8.00</li>
            <li class="global_sclt">Начало занятий во 2 смене – 14.00</li>
            <li class="school_schedule_list_text">1 смена – 1-2 классы, 5 классы, 7а,б,в,г классы, 8 а, б, в, е классы, 9-11 классы</li>
            <li class="school_schedule_list_text">2 смена – 3-4 классы, 6 классы, 7д, 8 г, д классы</li>
            <li class="global_sclt">График работы администрации:</li>
            <li class="school_schedule_list_text">Понедельник-пятница – 8.00 – 17.00</li>
        </ul>
    </div>
</body>
</html>