{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'school/css/index.css' %}" type="text/css">
    <title>Лицей №5</title>
</head>
<body>
    <nav class="headear-container">
        <ul>
            <li><img src="{% static 'school/images/Logo.svg' %}" alt=""></li>
            <li><a class="t1 nav-text" href="{% url 'home' %}"><h1 class="nav_text">Главная</h1></li></a>
            <li><a class="t2 nav-text" href="#"><h1 class="nav_text">Новости</h1></li></a>
            <li><a class="t3 nav-text" href="{% url 'contacts' %}"><h1 class="nav_text">Контакты</h1></li></a>
            <li><a class="t4 nav-text" href="{% url 'sign-in' %}"><h1 class="nav_text">Вход</h1></li></a>
        </ul>
    </nav>
    <div class="Hi_All">
        <img src="{% static 'school/images/schoolPhoto.png' %}" alt="" class="school_photo">
    </div>
    <div class="why_are_we_container">
        <h1 class="text_why">Почему мы?</h1>
        <div class="why_are_we">
            <h1 class="reason1">
                Мы - современная образовательная организация, которая стремится создать комфортные условия для обучения и развития учащихся. Мы предлагаем образовательные программы для детей всех возрастов, начиная от детского сада и заканчивая школой
            </h1>
            <h1 class="reason2">
                Наша миссия - обеспечить каждого ученика качественным образованием, которое будет соответствовать его потребностям и возможностям. Мы работаем с опытными и квалифицированными учителями, которые помогут ребенку освоить учебный материал и достичь лучших результатов
            </h1>
            <h1 class="reason3">
                Наши ученики получают не только знания, но и развиваются как личности. Мы придаем большое значение личностному росту каждого ученика и помогаем им обрести уверенность в себе и своих способностях
            </h1>
        </div>
    </div>
    <div class="we_have_the_best_container">
        <h1 class="we_have_the_best">У нас лучшие!</h1>
        <ul class="we_have_the_best_list">
            <li class="we_have_the_best_list_text">Ежегодно каждый пятый лицеист становится победителем или призером муниципальных, региональных, всероссийских, международных олимпиад и конкурсов</li>
            <li class="we_have_the_best_list_text">Средний балл по итогам сдачи ЕГЭ по математике и русскому языку выше результатов города, области и России</li>
            <li class="we_have_the_best_list_text">90% педагогических работников нашего лицея имеют высшую и первую квалификационные категории</li>
            <li class="we_have_the_best_list_text">Вся администрация лицея аттестована на высшую квалификационную категорию</li>
            <li class="we_have_the_best_list_text">Восемь педагогов лицея стали победителями Всероссийского конкурса лучших учителей в рамках ПНПО</li>
            <li class="we_have_the_best_list_text">100% педагогов прошли курсовую подготовку по специальности</li>
            <li class="we_have_the_best_list_text">5 педагогов награждены премией им. Г.И. Горской для работников ОУ, 4 педагога получили премию им. К.А. Москаленко</li>
            <li class="we_have_the_best_list_text">Каждый третий учитель лицея №5 имеет почетный знак "Отличник народного просвещения", "Почетный работник общего образования"</li>
        </ul>
    </div>
    <div class="farewell_container">
        <h1 class="farewell">Мы надеемся, что наш сайт предоставит вам всю необходимую информацию о нашей школе, ее программе и достижениях.<br>Позвоните нам!</h1>
        <h1 class="contacts">
            Телефон лицея: (47467) 2-46-35<br>Адрес: 399774,<br>г. Елец, ул. Спутников, д. 9
        </h1>
    </div>
    <footer>
        <h1>МБОУ "Лицей №5 г.Ельца" © 2023</h1>
    </footer>
</body>
</html>