{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'school/css/sign-in.css' %}">
    <title>Вход</title>
</head>
<body>
    <body>
        <nav class="headear-container">
            <ul>
                <li><img src="{% static 'school/images/Logo.svg' %}" alt=""></li>
                <li><a class="t1 nav-text" href="{% url 'home' %}"><h1 class="nav_text">Главная</h1></li></a>
                <li><a class="t2 nav-text" href="#"><h1 class="nav_text">Новости</h1></li></a>
                <li><a class="t3 nav-text" href="{% url 'contacts' %}"><h1 class="nav_text">Контакты</h1></li></a>
                <li><a class="t4 nav-text" href="{% url 'sign-in' %}"><h1 class="nav_text">Вход</h1></li></a>
            </ul>
        </nav>
        <form method="post">
            <h1>Вход</h1>
            <label for="user_email" class="email_label">Почта:</label>
            <input type="email" name="user_email" id="user_email" placeholder="email" required autocomplete="on" class="email_input">
            <label for="user_password" class="password_label">Пароль:</label>
            <input type="password" name="user_password" id="user_password" placeholder="password" required autocomplete="on" class="password_input">
            <a href="{% url 'sign-up' %}" class="link_reg">Регистрация</a>
            <button type="submit">Потвердить</button>
        </form>
</body>
</html>