@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-bg-color: #0E58C7;
    --nav-bg-color: #004DC1;
    --main-color-for-words: #FFFFFF;
    --cards-color-for-words: black;
    --cards-bg-color: #FFFFFF;
}

body {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: Roboto Slab;
}

ul li {
    display: inline-flex;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li img {
    width: 320px;
    max-width: 100%;
    min-width: 70px;
}

li a {
    text-decoration: none;
    color: var(--main-color-for-words);
}

li a:hover {
    border-bottom: 1px solid var(--main-color-for-words);


}

li a h1 {
    font-size: 32px;
    padding: 2px 10px;
}

nav {
    background-color: var(--nav-bg-color);
    width: 100%;
}

/* Сверху нав */

.school_photo {
    padding: 35px 0px;
    width: 660px;
    max-width: 100%;
}

.Hi_All {
    display: flex;
    justify-content: center;
}

/* Сверху фото школы */

.why_are_we_container {
    max-width: 100%;    
}

.why_are_we {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 100%;
}

.text_why {
    color: var(--main-color-for-words);
    font-size: 64px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.reason1,
.reason2,
.reason3 {
    display: flex;
    align-items: center;
    padding: 53px 13px;
    margin: 10px 10px;
    color: var(--color-for-words);
    background-color: var(--cards-bg-color);
    width: 371px;
    max-width: 100%;
    max-height: 100%;
    height: 350px;
    border-radius: 45px;
    font-size: 20px;
}

/* Сверху карточки с причинами */

.we_have_the_best {
    text-align: center;
    padding: 25px 0px;
    font-size: 32px;
    color: var(--main-color-for-words);
}

.we_have_the_best_list {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.we_have_the_best_list_text{
    display: list-item;
    list-style-type: disc;
    padding: 1px 0px;
    margin: 0px 25px;
    color: var(--main-color-for-words);
    font-size: 20px;
}

/* Сверху у нас лучшие */

.farewell_container {
    text-align: center;
    margin: 20px 20px;
}

.farewell {
    padding: 20px 0px;
    color: var(--main-color-for-words);
    font-size: 24px;
}

.contacts {
    color: var(--main-color-for-words);
    font-size: 24px;
    padding: 20px 0px;
}

footer h1 {
    margin: 10px 13px 0px 0px;
    color: var(--main-color-for-words);
    text-align: right;
    font-size: 10px;
}

/* Сверху контакты, прощание, Лицей (Футер) */

@media (max-width: 1000px) {
    .t1 {
        display: none;

    }

    a h1 {
        padding: 2px 10px;
        font-size: medium !important;
    }
    
    /* Сверху нав */

    .why_are_we {
        flex-direction: column;
    }

    .text_why {
        font-size: 32px;
    }

    .reason1,
    .reason2,
    .reason3 {
        font-size: 16px;
        width: 245px;
        padding: 25px 13px;
    }

}

@media (max-width: 550px) {
    a h1 {
        font-size: xx-small !important;
    }
    li img {
        margin: 0px 0px 0px 10px;
    }
}